.row-tr {
    line-height: 5rem !important;
}

.id-pic {
    border-radius: 5px;
}

a {
    color: white
}

a:hover {
    color: rgb(177,177,179)
}

@media only screen and (max-width: 712px) {
    td {
        font-size: 14px;
    }
}